{% extends "base.html" %}

{% block title %}Bievenido{% endblock %}

{% block content %}

{% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <a href="{% url 'reunion' %}">Crear Reunion</a>
        <a href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a>
{% else %}
		<a href="{% url 'registrate' %}">Registrate</a>
        <a href="{% url 'inicia_sesion' %}">Iniciar Sesion</a>
{% endif %}

{% endblock content %}
